= link_to "google", 'http://www.google.ru'
- if signed_in?
  = "Signed in as #{current_user.email}"
  = link_to "Sign out", destroy_user_session_path, method: :delete
- else
  = link_to "Sign in", new_user_session_path
%br
= link_to "Sign in with Twitter", "/auth/twitter"
%br
= link_to "Sign in with facebook", "/auth/facebook"
%table
  %tr
    %th
    %th Email
    %th AccessToken
    %th SecretToken
  - @users.each do |user|
    %tr
      %td= check_box_tag "model_ids[]", user.id
      %td= user.email
      %td= user.access_token
      %td= user.secret_token
= link_to "Magic button", "#", id: "magic_button"
= form_for "form_id", url: {action: :mass_destroy, controller: :social_users}, html: {id: "form_id"} do |f|
  = f.hidden_field :model_ids
  = f.text_area :title
