= render 'action_name', name: t('message_sets.action_names.new')

.row
  .span31
    %h3= t('message_sets.mass_edit')
.row
  .span31
    = render 'mass_edit_form'

%hr
.row
  .span31.slider_button
    #individual_edit.beautiful.blue.long
      %h3= t('message_sets.individual_edit')

#custom_messages
  = form_for @message_set do |f|
    = f.fields_for :messages do |fields|
      = render 'message_fields', f: fields
.row
  .span31
    %a{id: "post_message_button", href: "#"}
      %button.command-button.create_message.fg-color-white.bg-color-blue
        = t('message_sets.post_message')
        %small.fg-color-white= t('message_sets.post_message_notice')
