.input-control.textarea
  = label_tag "#{type}_common_text", "Content for all #{type.humanize} profiles"
  = text_area_tag "#{type}_common_text", nil, id: "#{type}_common_text", placeholder: "Insert message text here..."
