.row
  .span31
    .input-control.textarea{class: "#{f.object.social_user.provider}_message"}
      = f.hidden_field :social_user_id
      = f.label :text, "Message for #{f.object.social_user.nickname}"
      = f.text_area :text, placeholder: "Insert message text here..."
      = f.label :url, "Link"
      = f.text_field :url
