!!!
%html
  %head
    %title Multiposter
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .page
      = render 'header'
    .page
      .row
        .span32
          .page-control#main_page_control(data-role="page-control")
            %span.menu-pull
            .menu-pull-bar
            = render 'menu_list'
            .frames#main_frames
              .frame.active
                = yield
