!!!
%html
  %head
    %title Multiposter
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .page
      = render 'header'
    .page
      .row
        .span32
          %h2= @page_header
    .page.row
      .span12
        = yield
